.Pokedex{
    color: blueviolet;
    text-align: center;
    border: solid 1px pink;
}

.Pokemon{
    display: flex;
    flex-wrap: wrap;
}

.PokemonPic{
    width: 100%;
}
.PokemonInfo{
    width: 100%;
    text-align: center;
}