.PokeDetail{
    color: brown;
    border: solid 1px green;    
}
.PokeDetail h1{
    display: block;
    width: 100%;
}
.PokeResume{
    display: flex;
}
.PokePic,.PokeInfo{
    color: white;
    background-color: red;
    border: blue solid 2px;
}