.PvP{
    display: flex;
    flex-wrap: wrap;
    border: blue solid 1px;
    justify-content: center;
    text-align: center;
}
.PvPTitle{
    width: 100%;
    color: rgba(35, 35, 35, 0.6);
}
.PvP div:first-of-type{
    text-align: center;
    color: pink;   
}

.PvPGL, .PvPUL, .PvPML{
    display: flex;
    flex-wrap: wrap;
}
.PvPPoke{
    display: flex;
    margin: 0% 2.5% 2.5% 2.5%;
    max-width: 30%;
    flex-wrap: wrap;    
}
.Poke{
    display: flex;
    width: 100%;
}
.Poke text{
    border-radius: 8px;
    padding: 1% 2%;
    margin: 0% 1%;
}
.IV{
    margin: 0% 2% 0% 0%;
}
.Moves{
    width: 100%;
    display: flex;
    margin: 5% 0%;
}
.Moves p{
    display: block;
    margin: 0% 0%;
}
.Moves div{
    margin: 0% 1.5% 0% 1.5%;
    
}
.MovesItem{
    padding: 0% 4%;
    border: solid 1px pink;
    border-radius: 10px;
    padding: 2% 0%;
}
.MovesItem text{
    border-radius: 8px;
    width: 80%;
    margin: auto;
    padding: 2% 8%;
}
